[[ hData.sTitle = 'Nordis, a Redis- and MySql-backed node.js framework.'; ]]
[[#def.loadfile('/partials/header.dot')]]+
    <div id="pad-wrapper">
        <h4>A framework for rapid and scalable app development.</h4>
        This simple site demos a couple of key, nordis features.<br/><br/>
        <ol>
            <li>
                <a style="cursor: pointer;" ng-click="showTab('Data');">API Boilerplate</a>.
                Again, the template engine you use is up to you, but I use <a href="http://olado.github.io/doT/index.html">doT</a>.
                I customized doT a bit to use double-braces [[ ]] instead of double-curly-braces for data-binding.
            </li>
            <li>
                I also added one helper function for including page-parts into a sever-side template. Check out the index.html
                code for how I included a separate header and footer.
            </li>
            <li>
                <a href="/stats">Page Stats</a>. The web app is tracking hits and those hits are displayed on the stats page.
                Nordis supports configuring those stats you want to track, and then provides convenience methods for tracking
                stats, processing them and displaying them.
            </li>
        </ol>
    </div>

    <div class="hide">

        <div class="well well-sm col-lg-12 alert" ng-switch="tab">
            <div ng-switch-when="Welcome">

            </div>
            <div ng-switch-when="Data">

            </div>
            <div ng-switch-when="Tools">
                The tools you use on the client-side of your web app are your choice. Nordis is on the server-side. However, this sample
                web app uses a few tools that I personally prefer that you may be interested in:<br/><br/>

                <ol>
                    <li>
                        <a href="http://angularjs.org" target="_blank">Angular.js</a> for client-side data-binding and API interactions.
                    </li>
                    <li>
                        There is additionally a home-brewed set of <a href="https://github.com/s2young/nordis/blob/master/example/apps/assets/js/nordis.angular.0.0.5.js">directives and helper functions here</a> that help with
                        those calls, as well as updating and paging through collections. Use and modify as you like, or roll your own.
                    </li>
                    <li>
                        <a href="http://requirejs.org" target="_blank">Require.js</a> for asynchronous loading of javascript. Makes page-load feel faster,
                        and on more complicated web apps you can load dependencies as needed for more intricate pages or apps.
                    </li>
                </ol>
            </div>
            <div ng-switch-when="Config">
                Nordis is completely config-driven. This helps you define your app in a clear, concise way. Your model, relationships, queries, and api endpoints are all defined in a structured way.
                I'm working on the Configurator, a page on this site that can help you define your config in a wizard-y way.<br/><br/>

                <a href="/configurator" class="btn btn-sm">Configurator</a>
            </div>
        </div>
    </div>
[[#def.loadfile('/partials/footer.dot')]]