[[ hData.sTitle = 'Web App Stats'; ]]

[[ hData.sInclude = '<link href="/assets/detail-theme/css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" /><script src="/assets/js/d3.min.js"></script><script src="/assets/js/nv.d3.min.js"></script>'; ]]
[[#def.loadfile('/partials/header.dot')]]

<script type="text/javascript">
    function StatsCtrl($scope,helpers,$element) {
        $scope.stat = 'hits';
        $scope.grain = 'day';
        $scope.title = 'Hits';
        $scope.start;$scope.end;nv;d3;$scope.moment;

        $scope.getDate = function(date) {
            if (date)
                return date.format('MM/DD/YYYY');
            else
                return '';
        };
        // You probably would process your stats via script/cron etc. But this demonstrates two things:
        // 1) a custom endpoint that isn't class-related in your API, and 2) how to process the stats you've been tracking.
        $scope.processStats = function(){
            helpers.post({sPath:'/process_stats'},function(){
                $scope.loadStats($scope.stat,$scope.title);
            });
        };
        $scope.loadGrain = function(grain) {
            if (grain && grain != $scope.grain) {
                $scope.grain = grain;
                $scope.loadStats();
            }
        };

        $scope.loadStats = function(){

            // You could wrap all this into a server-side page if you like.
            helpers.get({sPath:'/'+$scope.stat+'/'+$scope.grain,hData:{nMin:$scope.start.valueOf(),nMax:$scope.end.valueOf()}},function(result){

                nv.addGraph(function() {
                    var chart = nv.models.lineChart()
                                .margin({left: 70})
                                .useInteractiveGuideline(true)  //We want nice looking tooltips and a guideline!
                                //.transitionDuration(350)  //how fast do you want the lines to transition?
                                .showLegend(true)       //Show the legend, allowing users to turn on/off line series.
                                .showXAxis(true)
                                .showYAxis(true);

                    var values = [];
                    var max = 0;

                    result.aObjects.forEach(function(item){
                        if (item.count > max) max = item.count;
                        values.push({x:item.date,y:item.count});
                    });

                    var x = d3.scale.identity().domain([$scope.start,$scope.end]);
                    chart.xAxis
                        .scale(x)
                        .axisLabel($scope.grain)
                        .tickFormat(function(d) {
                            switch ($scope.grain) {
                                case 'day':
                                    return $scope.moment(d).format('MMM D');
                                    break;
                                case 'month':
                                    return $scope.moment(d).format('MMM \'YY');
                                    break;
                                case 'year':
                                    return $scope.moment(d).format('YYYY');
                                    break;
                                case 'hour':
                                    return $scope.moment(d).format('HH');
                                    break;
                            }

                        });
                    var y = d3.scale.identity().domain([2,max]);
                    chart.yAxis.axisLabel($scope.stat);

                    d3.select('#chart svg')
                        .datum([{values:values,key:$scope.stat,area:true}])
                        .call(chart);

                    nv.utils.windowResize(function() { chart.update() });
                    return chart;
                });
                // TODO - handle different screen sizes and resize somehow.

            });
        };
        $scope.setDatePicker = function(){
            if (!$scope.start) {
                $scope.end = $scope.moment();
                $scope.start = $scope.moment().subtract('month',6);
            }

            $('.start').attr('data-date',$scope.getDate($scope.start));
            $('.end').attr('data-date',$scope.getDate($scope.end));
            $('.start').datepicker('setValue',$scope.start.toDate()).on('changeDate', function (ev) {
                $scope.start = $scope.moment(ev.date.valueOf());
                $scope.loadStats();
            });
            $('.end').datepicker().on('changeDate', function (ev) {
                $scope.end = $scope.moment(ev.date.valueOf());
                $scope.loadStats();
            });
        };

        require(['moment','datepicker'], function(moment){
            $scope.moment = moment;
            angular.element($element).removeClass('hide');
            $scope.setDatePicker();
            $scope.loadStats();
        });
    }
</script>
<div class="hide" ng-controller="StatsCtrl">
    <div id="main-stats">
        <div class="row stats-row">
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">2457</span>
                    visits
                </div>
                <span class="date">Today</span>
            </div>
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">3240</span>
                    users
                </div>
                <span class="date">February 2013</span>
            </div>
            <div class="col-md-3 col-sm-3 stat">
                <div class="data">
                    <span class="number">322</span>
                    orders
                </div>
                <span class="date">This week</span>
            </div>
            <div class="col-md-3 col-sm-3 stat last">
                <div class="data">
                    <button class="btn btn-info" ng-click="processStats()">Process Stats</button>
                </div>
                <span class="date">get latest data</span>
            </div>
        </div>
    </div>
    <div id="pad-wrapper">
        <div class="row chart">
            <div class="col-md-12">
                <div class="btn-group" style="margin-right:20px;margin-bottom:10px;">
                    <button ng-class="{true:'glow left active',false:'glow left'}[grain=='day']" ng-click="loadGrain('day');">DAY</button>
                    <button ng-class="{true:'glow middle active',false:'glow middle'}[grain=='month']" ng-click="loadGrain('month');">MONTH</button>
                    <button ng-class="{true:'glow right active',false:'glow right'}[grain=='year']" ng-click="loadGrain('year');">YEAR</button>
                </div>
                <div class="btn-group" style="margin-right:20px;margin-bottom:10px;">
                    <button class="glow left start input-append date" data-date-format="mm/dd/yyyy"><i class="icon-calendar-empty"></i> {{getDate(start)}}</button>
                    <button class="glow middle"><i class="icon-double-angle-right"></i></button>
                    <button class="glow right end"><i class="icon-calendar-empty"></i> {{getDate(end)}}</button>
                </div>
            </div>
        </div>
        <div class="row chart">
            <div class="col-md-12">
                <div id='chart'>
                    <svg style='height:500px'> </svg>
                </div>
            </div>
        </div>
    </div>
</div>
[[#def.loadfile('/partials/footer.dot')]]