[[ hData.sTitle = 'Welcome!'; ]]
[[#def.loadfile('/partials/header.dot')]]

<div class="row">
    <div class="col-lg-6 alert">
        <h4>Welcome!</h4>
        Welcome to the Nordis sample web app homepage! This site only has a couple of pages, but it shows off a couple
        of features. First, however, notice that this web app utilizes a couple of client-side tools that are simply
        my personal preference.  You can use whatever you want:<br/><br/>

        <ol>
            <li>
                <a href="http://angularjs.org" target="_blank">Angular.js</a> for client-side data-binding and API interactions (AJAX calls).
                There is additionally a home-brewed set of directives in the <a href="/nordis.angular.0.0.5.js">nordis.angular.0.0.5.js</a> that help with
                those calls, as well as updating and paging through collections. Use and modify as you like, or roll your own.
            </li>
            <li>
                <a href="http://requirejs.org" target="_blank">Require.js</a> for asynchronous loading of javascript. Makes page-load feel faster,
                and on more complicated web apps you can load dependencies as needed for more intricate pages or apps.
            </li>
        </ol>

        This web app also demonstrates a couple of server-side features. <br/><br/>
        <ol>
            <li>
                Again, the template engine you use is up to you, but I use <a href="http://olado.github.io/doT/index.html">doT</a>.
                I customized doT a bit to use double-braces [[ ]] instead of double-curly-braces for data-binding.
            </li>
            <li>
                I also added one helper function for including page-parts into a sever-side template. Check out the index.html
                code for how I included a separate header and footer.
            </li>
            <li>
                <a href="/stats">Page Stats</a>. The web app is tracking hits and those hits are displayed on the stats page.
                Nordis supports configuring those stats you want to track, and then provides convenience methods for tracking
                stats, processing them and displaying them.
            </li>
        </ol>
    </div>
    <div class="col-lg-5">
        <script type="text/javascript">
            function NewUserCtrl($scope,helpers,$element) {
                // helpers is my custom directive with helper functions. Used here for AJAX interactions.

                // the newuser object is what our form populates below.
                $scope.newuser = {};
                $scope.users = {sPath:'/userlist',aObjects:[]};

                $scope.save = function(){
                    if ($scope.newuser.name && $scope.newuser.email && $scope.newuser.password)
                        helpers.post({sPath:'/user/new',hData:$scope.newuser},function(result){
                            console.log(result);
                            helpers.confirmCommand({
                                head:'Welcome New Member!',
                                body:'Your user page is ready!',
                                buttons:[
                                    {class:'btn btn-sm',label:'Load Page',callback:function(){
                                        window.location = '/user/'+result.sid;
                                    }}
                                ]
                            });
                        });
                    else
                        helpers.alert({head:'Name, email and password are all required.'});
                }

                helpers.loadPage($scope.users);
                // $element is the div with the ng-controller attribute in it.
                angular.element($element).removeClass('hide');
            }
        </script>
        <div class="form well well-sm" ng-controller="NewUserCtrl">
            <h5>Get Started!</h5>
            <p>
                This web app does two things: 1) allows you to create a user record, and 2) view that record on the user details page.
                There is no security or session management here. It's bare-bones - on purpose.
            </p>
            <hr/>
            <div role="form">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" id="name" ng-model="newuser.name" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input type="email" class="form-control" id="email2" ng-model="newuser.email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" ng-model="newuser.password" on-keyup="save()" keys="[13]" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default" ng-click="save()">Sign Up</button>
            </div>
            <hr/>
            <h5>Existing Users</h5>
            <p>Here is a collection demo.</p>
            <table class="table table-hover">
                <tr ng-repeat="user in users.aObjects | orderBy:'created'">
                    <td><a href="/user/{{user.sid}}" ng-bind="user.name"></a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

[[#def.loadfile('/partials/footer.dot')]]