<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[[=it.sTitle]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <script type="text/javascript">
        function StatusCtrl($scope,$element,helpers){
            $scope.oStatus = {};
            $scope.close = function(){
                $scope.oStatus = {};
                $($element).slideUp();
            };
            $scope.$on('onLoad',function(event){
                $($element).slideDown();
            });
            $scope.$on('onUnload',$scope.close);
        };
        function ModalCtrl($scope,helpers){
            $scope.bOpen = false;
            $scope.hMsg = {
                sMsg:'',
                sDetail:'',
                sData:'',
                sActionBtnLabel:'',
                sActionBtnClass:'btn hide',
                fnAction:null,
                sCloseBtnLabel:'Close',
                sCloseBtnClass:'btn',
                fnClose:null
            };
            $scope.$on('onAlert',function(event,hMsg){
                if (hMsg) {
                    $scope.hMsg.sMsg = hMsg.sMsg;
                    $scope.hMsg.sDetail = hMsg.sDetail;
                    $scope.hMsg.sData = hMsg.sData;
                    if (hMsg.sMsg && hMsg.sMsg.toString() == '[object Object]') {
                        $scope.hMsg.sData = JSON.parse(hMsg.sMsg);
                        $scope.hMsg.sMsg = 'An Error Occurred';
                    } else if (hMsg.sMsg && hMsg.sMsg.length > 50) {
                        $scope.hMsg.sData = hMsg.sMsg;
                        $scope.hMsg.sMsg = 'An Error Occurred';
                    }
                }
                $scope.bOpen = true;
            });
            $scope.$on('onConfirm',function(event,hMsg,fnCallback,fnNoCallback){
                $scope.hMsg.sMsg = hMsg.sHead||hMsg.sMsg;
                $scope.hMsg.sDetail = hMsg.sMsg||hMsg.sDetail;
                $scope.hMsg.sActionBtnLabel = hMsg.sActionBtnLabel||hMsg.sLabel;
                $scope.hMsg.sActionBtnClass = 'btn '+(hMsg.sActionBtnClass||hMsg.sBtnClass);
                $scope.hMsg.sCloseBtnClass = 'btn '+hMsg.sCloseBtnClass||'btn';
                $scope.hMsg.sCloseBtnLabel = hMsg.sCloseBtnLabel||'Close';
                $scope.hMsg.fnAction = fnCallback;
                $scope.hMsg.fnClose = fnNoCallback||$scope.close;
                $scope.bOpen = true;
            });
            $scope.close = function(){
                $scope.bOpen = false;
                $scope.hMsg = {
                    sMsg:'',
                    sDetail:'',
                    sData:'',
                    sActionBtnLabel:'',
                    sActionBtnClass:'btn hide',
                    fnAction:null,
                    sCloseBtnLabel:'Close',
                    sCloseBtnClass:'btn',
                    fnClose:null
                };
            };
            $scope.action = function(){
                if ($scope.hMsg.fnAction)
                    $scope.hMsg.fnAction();
                $scope.close();
            };
            $scope.closeAction = function(){
                if ($scope.hMsg.fnClose)
                    $scope.hMsg.fnClose();
                $scope.close();
            };
            $scope.opts = {
                backdropFade: true,
                dialogFade:true
            };
        };
    </script>
    <!--div ng-controller="StatusCtrl" class="hide navbar navbar-default navbar-fixed-top" style="height:25px;width:100%;color:#fff;text-align:center;padding:4px;background-color:#000;">
        <div class="container" style="width:100%;">
            <div class="navbar-header" style="width:100%;">
                <i class="icon-cog icon-spin" style="position:absolute;left:10px;color:#fff;font-size:18px;"></i>
                <span style="font-color:#fff;font-weight:bold;font-size:18px;" ng-bind="oStatus.sLog"></span>
            </div>
        </div>
    </div>
    <div ng-controller="ModalCtrl">
        <div class="hide" modal="bOpen" close="close()" options="opts">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
                <b ng-bind="hMsg.sMsg"></b>
            </div>
            <div class="modal-body">
                <div ng-bind-html-unsafe="hMsg.sDetail" ng-show="hMsg.sDetail"></div>
                <pre class="prettyprint" ng-bind-html-unsafe="hMsg.sData" ng-show="hMsg.sData"></pre>
            </div>
            <div class="modal-footer">
                <button ng-class="hMsg.sActionBtnClass" ng-show="hMsg.fnAction!=null" ng-bind="hMsg.sActionBtnLabel" ng-click="action();"></button>
                <button ng-class="hMsg.sCloseBtnClass" ng-bind="hMsg.sCloseBtnLabel" ng-click="closeAction();">Close</button>
            </div>
        </div>
    </div-->
